# .github/workflows/ci.yml

name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CLONE_PATH: ./external_repo

    steps:
    #- name: Install system deps
    #  run: sudo apt-get update && sudo apt-get install -y libopenmpi-dev build-essential

    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        environment-file: environment.yml
        activate-environment: emcraft
        python-version: "3.11"
        use-mamba: true

    - name: Install EMCrafter
      shell: bash -l {0}
      run: |
        pip install -e .
    
    - name: Clone External
      shell: bash -l {0}
      run: |
        git clone https://github.com/cryoem/eman2.git $CLONE_PATH

    - name: Run Pytest
      shell: bash -l {0}
      run: |
        pytest tests/tutorial/test_tutorial_scripts.py
    
    - name: Build Docs
      shell: bash -l {0}
      run: |
        cd docs
        make html

    # Required by GitHub Pages
    - name: Setup Pages
      uses: actions/configure-pages@v4
    
    # Upload static site
    - name: Upload documentation artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: docs/build/html
    
    # Deploy to GitHub Pages
    - name: Deploy to GitHub Pages
      if: ${{ github.ref_name == 'main' && github.event_name == 'push' }}
      uses: actions/deploy-pages@v4

    #- name: Deploy Docs
    #  if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
    #  shell: bash -l {0}
    #  run: |
    #    pip install ghp-import
    #    git config --global user.name "${GITHUB_ACTOR}"
    #    git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
    #    cd docs
    #    ghp-import -n -f -p build/html
